.btn-bck-top {
    background-color: color(rgba-black03);
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    z-index: 1000;
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease;

    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    i {
        font-size: 1.5rem;
        padding: 1rem;
        color: color(primary-white);
    }
}

.btn-bck-top:hover {
    background-color: color(rgba-black05);
}

.btn-bck-top-visible {
    visibility: visible;
    overflow: visible;
    opacity: 1;
    transform: translateY(0);
}