.credit {
    background-color: color(primary-brown);
    border-top: 0.5px solid color(primary-dark);
    @include flexAllCenter;
    padding: 0.8rem 0;
    gap: 0.3rem;

    &__para {
        font-family: 'latoitalic';
        font-weight: 400;
        font-size: 0.8rem;
        opacity: 0;
        transition: opacity 600ms ease-in .2s;
    }

    &__link {
        color: color(primary-dark);
        padding-top: 0.1rem;
        opacity: 0;
        transition: opacity 900ms ease-in .3s;

        &:hover {
            text-decoration: underline;
        }
    }

    &__author {
        font-family: 'latoitalic';  
        font-weight: 400; 
        font-size: 0.7rem;
        letter-spacing: 0.7px;    
        color: color(primary-dark);
    }
}

.credit-visible {
    opacity: 1;
}