.hero-birthday-cakes {
    background-image: url('../images/birth-cakes-hero/birthday-cake50-cover.jpg');
    background-color: color(rgba-black05);
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 6rem 0;

    &__wrapper {
        @include flexAllCenter;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2rem;
    }


    &__h2 {
        color: color(primary-white);
        padding-left: 3.5rem;
        font-family: Great Vibes, cursive;
        text-transform: capitalize;
    }

    &__decoration {
        width: 15rem;
        height: auto;
        margin-left: 7rem;
        // margin-right: auto;
    }
}