.hero-price {
    background-color: color(primary-brown);
    padding: 5rem 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 12rem;
        margin-left: 2rem;
    }

    &__h2 {
        color: color(primary-dark);
        font-family: Great Vibes, cursive;
        margin-left: 1.3rem;
        text-transform: inherit;
    }

    &__decoration {
        width: 100%;
        height: auto;
    }
}